@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id="content-header">
    <div id="breadcrumb"> <a href="/Admin/Manage/Index" class="tip-bottom"><i class="icon-home"></i> 首页管理</a></div>
</div>
<h2>这里显示我的工作内容</h2>
<script type="text/javascript">
    $(function () {

        //alert("11");
        //$('li[name="selectMenu"]').click(function () {
        //    alert(1);
        //});
    })

</script>