<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/BootStrapCss")*@
    @*<link href="/Content/BootStrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="/Content/JQSweetAlert/dist/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/Layout/css/bootstrap.min.css" />
    <link href="/Content/BootStrap/css/bootstrap-pagination.css" rel="stylesheet" />
    @*<link href="/Content/BootStrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="/Content/Layout/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/Content/Layout/css/fullcalendar.css" />
    <link rel="stylesheet" href="/Content/Layout/css/matrix-style.css" />
    <link rel="stylesheet" href="/Content/Layout/css/matrix-media.css" />
    <link href="/Content/Layout/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Toastr/toastr.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="/Content/Layout/css/jquery.gritter.css" />*@
    @*<link href='http://fonts.useso.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>*@
</head>
<body>
    @{ Html.RenderAction("Index", "Header", new { area = "Admin" });}
    <div class="copyrights"></div>
    <!--sidebar-menu-->
    @{ Html.RenderAction("Index", "Menu", new { area = "Admin" });}
    <!--sidebar-menu-->
    <div id="content">
        @RenderBody()
    </div>
    <div class="row-fluid">
        <div id="footer" class="span12 bottom"> Copyright © @DateTime.Now </div>
    </div>
    <script src="/Scripts/jquery-1.11.1.min.js"></script>
    @*<script src="/Scripts/jquery-1.11.3.min.js"></script>*@
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*<script src="/Content/BootStrap/js/bootstrap.min.js"></script>*@
    <script src="/Content/JQSweetAlert/dist/sweetalert2.min.js"></script>
    <script src="/Content/Layout/js/excanvas.min.js"></script>
    @*<script src="/Content/Layout/js/jquery.min.js"></script>*@
    @*<script src="/Content/Layout/js/jquery.ui.custom.js"></script>*@
    <script src="/Content/Layout/js/bootstrap.min.js"></script>
    @*<script src="/Content/Layout/js/jquery.flot.min.js"></script>*@
    @*<script src="/Content/Layout/js/jquery.flot.resize.min.js"></script>
        <script src="/Content/Layout/js/jquery.peity.min.js"></script>*@
    @*<script src="/Content/Layout/js/fullcalendar.min.js"></script>*@
    <script src="/Content/Layout/js/matrix.js"></script>
    @*<script src="/Content/Layout/js/matrix.dashboard.js"></script>*@
    @*<script src="/Content/Layout/js/jquery.gritter.min.js"></script>*@
    @*<script src="/Content/Layout/js/matrix.interface.js"></script>
        <script src="/Content/Layout/js/matrix.chat.js"></script>*@
    @*<script src="/Content/Layout/js/jquery.validate.js"></script>*@
    @*<script src="/Content/Layout/js/matrix.form_validation.js"></script>*@
    @*<script src="/Content/Layout/js/jquery.wizard.js"></script>
        <script src="/Content/Layout/js/jquery.uniform.js"></script>*@
    @*<script src="/Content/Layout/js/select2.min.js"></script>*@
    @*<script src="/Content/Layout/js/matrix.popover.js"></script>*@
    @*<script src="/Content/Layout/js/jquery.dataTables.min.js"></script>*@
    @*<script src="/Content/Layout/js/matrix.tables.js"></script>*@
    <script src="/Content/jqPaginator/jqPaginator.min.js"></script>
    <script src="~/Content/Toastr/toastr.min.js"></script>
    <script src="~/Content/layui/lay/dest/layui.all.js"></script>
    <script type="text/javascript">
        toastr.options = { positionClass: "toast-top-center", showDuration: "150", hideDuration: "2000", showMethod: "fadeIn" };
    </script>
    @RenderSection("headSection", required: false)
</body>
</html>
