<script src="~/Scripts/jquery-1.8.2.min.js"></script>
是否通过审核：
<select name="AuditType">
    <option value="2">通过</option>
    <option value="6">驳回</option>
</select>
<input type="hidden" name="TapplyId" value="@ViewBag.TapplyId" />